---
---
<header class="site-header">
  <div class="inner">
    <a class="brand" href="/">Sakar Labs</a>
    <nav class="nav">
      <a href="/blog">Blog</a>
      <a href="/tags">Tags</a>
    </nav>
  </div>
</header>
